:root {
    --bck-color: #1d2021;
    --txt-color: #fbf1c7;
    --hgl-color: #458588;
    --link-color: #b8bb26;
    font-family: Inter, sans-serif;
}
body {
    font-size: 90%;
    color: var(--txt-color);
    background-color: var(--bck-color);
}
a {color: var(--link-color)}
a:hover {
    font-size: x-large;
    background-color: var(--hgl-color);
}
::selection {
    color: var(--bck-color);
    background: var(--txt-color);
}
div.bar, footer {background-color: var(--hgl-color)}
div.bar a, footer a {color: var(--txt-color)}
div.bar a:hover, footer a:hover {
    font-size: inherit;
    color: var(--hgl-color);
    background-color: var(--txt-color);
}