:root {
    --bg: #0c0c0c;
    --fg: #fff;
    --hl: #2596be;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg: #fefefe;
        --fg: #333333;
    }
}
body {
    font-family: verdana, sans-serif;
	font-size: 80%;
    line-height: 1.25em;
    color: var(--fg);
    background-color: var(--bg);
}
::selection {
    color: var(--bg);
    background: var(--fg);
}
a {color: var(--hl)}
a:hover {
    color: var(--fg);
    background-color: var(--hl);
}
div.bar, footer {background-color: var(--hl)}
div.bar a, footer a {color: var(--fg)}
div.bar a:hover, footer a:hover {
    color: var(--hl);
    background-color: var(--fg);
}
